.report__subtitle {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.2;
    margin: 0;
}

.report__subtitle:last-of-type {
    margin-left: 5px;
}
