.report__button {
    width: calc(100% - 20px);
    height: 24px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.2;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px 10px 10px;
    padding: 0;
}
